<!--sgg26-->
<div class="container">

  <div class="row">
    <div class="col-md-12 list-group-item active" style="background-color: #55555;padding-bottom: 10px;padding-top: 10px">
      <div style="font-size: 50px; padding-left: 50px">
        <%= image_tag "profile.png" %>
        中国科学院大学选课系统
      </div>

    </div>

    

  </div>

<hr>


<div class="row">
  <div class="col-md-3">
    <a href="#" class="list-group-item active">
      相关链接
    </a>
    <a href="http://www.moe.edu.cn/" class="list-group-item">中华人民共和国教育部</a>
    <a href="http://www.moe.edu.cn/" class="list-group-item">中国学位与研究生教育学会</a>
    <a href="http://www.moe.edu.cn/" class="list-group-item">全国工程硕士研究生教育网</a>
    <a href="http://www.moe.edu.cn/" class="list-group-item">中国国家图书馆</a>
    <a href="http://www.moe.edu.cn/" class="list-group-item">中国科学院国家科学图书馆</a>
    <a href="http://www.moe.edu.cn/" class="list-group-item">中国科学院科学数据库</a>
    <a href="http://www.moe.edu.cn/" class="list-group-item">中国科技资源共享网</a>
    <a href="http://www.moe.edu.cn/" class="list-group-item">中国科普博览</a>

  </div>

  <div class="col-md-3" style="font-size: 17px; padding-left: 50px">
     </br>
     <%= image_tag "p1.png" %>
     学生选课</br></br></br>
    <%= image_tag "p2.png" %>
     成绩查询</br></br></br>
    <%= image_tag "p3.png" %>
     教学评估</br>

  </div>

  <div class="col-md-3" style="font-size: 17px; padding-left: 50px">
     </br>
     <%= image_tag "p4.png" %>
     课程管理</br></br></br>
    <%= image_tag "p5.png" %>
     成绩管理</br></br></br>
    <%= image_tag "p6.png" %>
     评估反馈</br>

  </div>
  <div class="col-md-3" style="font-size: 17px; padding-left: 50px">
     </br>
     <%= image_tag "p7.png" %>
     评估结果统计</br></br></br>
    <%= image_tag "p8.png" %>
     通知功能</br></br></br>


  </div>

 
  </div>
</div>
